/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126 (amended)
 License: none (public domain)
 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, center, dl, dt, dd, ol, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	outline: 0;
}

a {
	text-decoration: none;
}

body {
	line-height: 1;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #dddeee;
}

/* COLOURS 
 * Purple: #643579;
 * Blue: #124c8a;
 */

/* HEADER contains logo and slogan */
#header {
	width: 100%;
	height: 80px;
	background-image: url('../img/logo.png');
	background-position: center center;
	background-repeat: no-repeat;
}

/* PAGE TITLE contains breadcrumbs and title for page */
.pageTitle {
	position: relative;
	width: 100%;
	height: auto;
	border-top: #000000 solid 2px;
	border-bottom: #000000 solid 2px;
}

.pageTitle h1{
	font-family:"Trebuchet MS", verdana;
	font-size:140%;
	line-height: 50px;
	text-align:center;
	padding-left: -20px;
}

.pageTitle p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:110%;
	line-height: 50px;
	text-align: left;
	padding: 0 40px;
	
}

.pageTitle p span {
	color: purple;
	font-size: 100%;
}

.pageTitle a {
	color:#643579;
}


/* div styling hooks */

.dropShadow {/*drops shadow around DIV */
	box-shadow: 2px 2px 3px rgba(111,111,111,0.5);
}

.rounded {/*rounds corners of DIV */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.floatRight {
	float:right;
}

.floatLeft {
	float:left;
}

.width70 {
	position:relative;
	width:70%;
	height: auto;
	margin:0 auto;
	overflow: auto;
}

.width50 {
	width:50%;
}

.contentCentre {
	position:relative;
	width:80%;
	margin:0 auto;
}

#banner {
	position:relative;
	width:100%;
	height:200px;
}

/* BUTTON AREA + BUTTONS */

.buttonArea {
	position:relative;
	width:100%;
	height:auto;
	overflow: auto;
	padding: 20px 0;
	margin-top:50px;
	background-color:#eeeeee;
}


.button {
	position:relative;
	background-color: #124c8a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	padding:1% 5%;
	margin-bottom:1%;
}

.button p {
	font-family: "Trebuchet MS", verdana;
	font-size: 100%;
	line-height: 200%;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	text-wrap: none;
}

.buttonFloatRight {
	float:right;
	margin-right:10%;
}

.buttonFloatLeft {
	float:left;
	margin-left:10%;
}


.buttonBottomCentre {
	position: absolute;
	width: 20%;
	line-height:50px;
	bottom: 3%;
	right: 3%;
	margin-left: -40%;
	cursor: pointer;
}

.buttonBottom {
	position: absolute;
	width: 40%;
	bottom: 2%;
	left: 50%;
	margin-left: -20%;
	cursor: pointer;
}

.buttonBottom h2 {
	font-family: "Book Antiqua", verdana;
	font-size: 100%;
	line-height:50px;
	text-align: center;
	color: #FFFFFF;
}

.buttonBottomCentre h2 {
	font-family: "Book Antiqua", verdana;
	font-size: 100%;
	text-align: center;
	color: #FFFFFF;
}

/* CONTENT STYLING */

.contentBox {/*Container for main content for all pages */
	position: relative;
	width: 90%;
	height: auto;
	overflow: auto;
	margin: 1% auto;
	background-color: #ffffff;
}

.centre {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 150px;
}

/* WES LOGIN PAGE */

.wes {
	position: relative;
	width: 81%;
	height: auto;
	margin:0 auto;
	overflow: auto;
}

.wesFrame {
	position: relative;
	width: 100%;
	height: 650px;
	border: none;
}

/* INFO PANEL STYLING */

.infoPanel {
	position:relative;
	width:80%;
	margin:15px auto;
	height:auto;
	overflow: auto;
	padding: 10px 0;
	background-color:#124c8a;
}

.infoPanel ul li h1 {
	font-family:"Trebuchet MS", verdana;
	font-size: 100%;
	text-align: left;
}

.infoPanel ul li {
	color:#FFFFFF;
	margin:0.5% 5%;
}

.infoPanel ul li p{
	font-family:"Trebuchet MS", verdana;
	font-size:100%;
	line-height: 150%;
	color:#ffffff;
}

.infoPanel ul li a{
	font-family:"Trebuchet MS", verdana;
	font-size:100%;
	line-height: 150%;
	color:#ffffff;
	text-decoration: underline;
}


.leftPanel {
	position: relative;
	width: 20%;
	height: 450px;
	float: left;
	background-color: #ffffff;
}

.leftPanel h1 {
	font-family: "Book Antiqua", verdana;
	font-size: 90%;
	padding: 40px 0 40px 15px;
	text-align: left;
}

/* table layout for processes */
/* creates table with two coloumns one for label and one for input */

.layoutTable {
	position: relative;
	width: 80%;
	margin: 30px auto 10px auto;
}

.layoutTable tr {
	height: 2.4em;
}


.layoutTable tr td {
	width: 50%;
	text-align: left;
	background-repeat:no-repeat;
	background-position:bottom right;
}

.layoutTable tr td h1 {
	font-family: "Book Antiqua", verdana;
	font-size: 90%;
	text-align: left;
	margin-left:5%;
	line-height: 150%;
}

.floatRight40 {/*this centres text in last coloumn*/
	float: right;
	margin-right: 5%;
}

.hidden {/*hides object by default */
	display: none;
}



/* Popup Styling */

.popUp {
	position:fixed;
	width:60%;
	height: auto;
	top:15%;
	left:50%;
	margin-left:-30%;
	z-index: 9999;
	overflow: auto;
	background-color:#ffffff;
}

.popUpWrapper {
	position:fixed;
	top:0;
	width:100%;
	height:5000px;
	background-color:rgba(0,0,0,0.7);
	z-index:8888;
}

.popUpHeader {
	position: relative;
	width:100%;
	height:auto;
	overflow: auto;
	background-color:#643579;
}

.popUpHeader h1{
	font-family:"Trebuchet MS", Verdana;
	font-size: 140%;
	line-height: 350%;
	margin-left:5%;
	color:#FFFFFF;
}

#popUpText p {
	font-family:"Trebuchet MS", Verdana;
	font-size: 140%;
	line-height: 150%;
	margin:1% 5%;
	color:#124c8a;
}

#popUpText p a {
	font-family:"Trebuchet MS", Verdana;
	font-size: 130%;
	line-height: 150%;
	margin:1% 5%;
	color:#643579;
	text-decoration: underline;
}

.popUp ul li{
	color:#111111;
}

.popUp ul li a{
	font-family:"Trebuchet MS", Verdana;
	font-size: 130%;
	line-height: 150%;
	margin:40% 2%;
	color:#643579;
	text-decoration: underline;
	list-style-type: none;
}

.popUp ul li p {
	color:#111111;
	line-height: 170%;
}

/* Forms */

.formCentre {
	position:relative;
	width:100%;
	margin:0 auto;
	overflow: auto;
	padding-bottom:15px;
}

.formCentre form {
	position:relative;
	width:80%;
	margin:0 auto;
	overflow: auto;
}

.formCentre h1 {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:180%;
	color:#124c8a;
	line-height: 230%;
	text-align:center;
}

.formCentre form input{
	position:relative;
	display:block;
	width:60%;
	height:35px;
	margin:2% auto;
	
}

.formCentre .button {
	width:40%;
	height:60px;
	background-color:#124c8a;
	margin:4% auto;
	color:#ffffff;
    
  }
  
  /* admin common */
  
  #logout {
	display:inline-block;
	float:right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:110%;
	font-weight:bold;
}

#logout a {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size:110%;
}


#errors {
	position:absolute;
	top:0;
	right:-320px;
}

.errorText {
	font-family: Arial, "MS Trebuchet", sans-serif;
	line-height:30px;
	font-size:120%;
	width:300px;
	height:30px;
	margin:25px 5px;
	color:red;
	weight:bold;
}

/* SearchBocx */

#searchBoxDiv {
	margin-bottom:30px;
}
  

