/* Styling for Waiver Prerequisite Form */

table {
    border-collapse: collapse;
}

#plannerForm{
	position:relative;
	width:80%;
	height:auto;
	margin:0 auto;
	overflow: auto;
}

.strong {
	font-weight: bold;
}

.orange {
	background-color:#FF6600;	
}




/* Waiver form information and acknowledgement info*/
ul.bulletedInfo {
	list-style: disc;
	display:list-item;
	margin:0 auto;
}

ul.bulletedInfo li {
	padding: 3px 0;
}

ul.bulletedInfo li p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:80%;
	line-height: 120%;
}

/* Student Information Table */

.tableLayout {
	position:relative;
	width:95%;
	margin:0 auto;
	height:auto;
}


#studentDetails tr td p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:150%;
}

.header p {
	font-weight:bold;
}

#studentDetails .header tr td p {
	font-weight:bold;
	background-color:#ffffff;
}


/* Course Checklist Table */


#courseChecklist tr td p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:50px;
	text-align: center;
	color: #000000;
	word-wrap:break-word;
}

#courseChecklist tr td h3 {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:50px;
	text-align: center;
	color: #000000;
}

#courseChecklist tr td {
	height:50px;
	border:1px solid #888888;
}

#plannerForm h2 {
	width:100%;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:105%;
	line-height:170%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#222222;
}

/* Course Information Styling */

#courseInformation tr td p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:30px;
	text-align: center;
	color: #000000;
	word-wrap:break-word;
}

#courseInformation tr td h3 {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:30px;
	text-align: center;
	color: #000000;
}

#courseInformation tr td {
	height:30px;
	border:1px solid #888888;
}

/* Required Units Checklist Table */

#requiredUnits tr td p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:30px;
	text-align:center;
}

#requiredUnits tr td {
	height:30px;
	border:1px solid #888888;
}


/* Rules for each year level Table */

#unitLevelCompletion tr td p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:30px;
	text-align:center;
}

#unitLevelCompletion tr td {
	height:30px;
	border:1px solid #888888;
}
