p a {
	color: #ffffff;
	text-decoration: underline;
}

strong {
	color: red;
}

#dragandrophandler {
	position: relative;
	border: 2px solid rgb(18,76,138);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 80%;
	color: #124c8a;
	text-align: center;
	padding: 10px 0;
	margin: 15px auto;
	height: 200px;
	overflow: auto;
	font-size: 150%;
	font-family: "Trebuchet MS", verdana;
}


.progressBar {
	width: 100%;
	height: 22px;
	border: 1px solid #124c8a;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0ba1b5;
	border-radius: 3px;
}
.statusbar {
	border-top: 1px solid #124c8a;
	min-height: 25px;
	width: 80%;
	margin:0 auto;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
}
.statusbar:nth-child(odd) {
	background: rgb(238,238,238);
}
.filename {
	display: inline-block;
	vertical-align: top;
	width: auto;
	line-height: 40px;
}
.filesize {
	display: inline-block;
	vertical-align: top;
	color: #30693D;
	width: auto;
	margin-left: 10px;
	margin-right: 5px;
}
.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}