/* Styling for Waiver Prerequisite Form */

#waiverForm{
	position:relative;
	width:80%;
	height:auto;
	margin:0 auto;
	overflow: auto;
}

.strong {
	font-weight: bold;
}


/* Waiver form information and acknowledgement info*/
ul.bulletedInfo {
	list-style: disc;
	display:list-item;
	margin:0 auto;
}

ul.bulletedInfo li {
	padding: 3px 0;
}

ul.bulletedInfo li p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:80%;
	line-height: 120%;
}

/* Selected Units Table */

.innerTable {
	position:relative;
	width:95%;
	margin:0 auto;
	height:auto;
}

#waiverForm h2 {
	width:100%;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:105%;
	line-height:170%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#222222;
}

li.tableHeader {
	border-bottom: 2px solid #000000;
}

.tableHeader p {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	line-height: 180%;
	border-bottom: 2px solid #000000;
}

.tableData {
}

.tableData p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height: 150%;
	border-bottom:1px dashed #222222;
}
