  /* Admin Content */
 
 #adminContent {
 	position:relative;
 	width:80%;
 	padding:30px 0 60px 0;
 	margin:0 auto;
 }
 
 #adminContent h1 {
 	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:180%;
	font-style:italic;
	color:#124c8a;
	line-height: 230%;
	text-align:left;
 }



/* menu buttons */

#menuButtons {
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:auto;
}

.menuButton {
	position:relative;
	float:left;
	width:31.333333333%;
	height:150px;
	margin:2% 1%;
	cursor:pointer;
}

.menuImage{
	position:relative;
	width:100%;
	height:120px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}

.menuText{
	position:relative;
	width:100%;
	height:30px;
}

.menuText p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:110%;
	line-height:30px;
	text-align:center;
	color:#643579;
	weight:bold;
}


.menuButton:hover {
	box-shadow: 10px 10px 5px rgba(111,111,111,0.1);
	text-decoration:underline;
}

.user{
	background-image:url('../img/adminUser.png');
}

.allocations{
	background-image:url('../img/allocations.png');
}

.books{
	background-image:url('../img/books.png');
}

.manageMajor{
	background-image:url('../img/manageMajors.png');
}

.manageMajorUnits{
	background-image:url('../img/requiredUnits.png');
}

.staff{
	background-image:url('../img/user.png');
}

.manageRules{
	background-image:url('../img/rules.png');
}

.backup{
	background-image:url('../img/backup.png');
}


/* ============= <1300px ============= */
@media screen and (max-width: 1300px) {
	
	.menuButton {
		width:46%;
		margin:2% 2%;
	}
	
}

/* ============= <800px ============= */
@media screen and (max-width: 800px) {
	
	.menuButton {
		width:96%;
	}
	
}
