  /* Admin Content */
 
 #backupContent {
 	position:relative;
 	width:80%;
 	padding:30px 0 60px 0;
 	margin:0 auto;
 }
 
 #backupContent h1 {
 	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:180%;
	font-style:italic;
	color:#124c8a;
	line-height: 230%;
	text-align:left;
 }



