#manageSubjectsContent {
	position:relative;
	width:80%;
	margin:0 auto;
	overflow:auto;
}

#manageSubjectsContent h1 {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:180%;
	font-style:italic;
	color:#124c8a;
	line-height: 230%;
	text-align:left;
}

#unitsList {
	position:relative;
	width:60%;
	margin:0 auto;
	overflow:auto;
}

ul {
	list-style-type:none;
}

ul li {
	list-style-type:none;
	display:inline-block;
	float: left;
	padding:5px 5%;
	width:40%;
}

ul li p{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:130%;
	line-height: 130%;
	text-align:left;
	weight:bold;
	color:#000000;
}

.header {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:150%;
	text-align:left;
	color:#124c8a;
	line-height: 200%;
	
	
}


