#manageRules{
	position:relative;
	width:95%;
	margin:0 auto;
	overflow:auto;
}

#manageRules h1 {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:180%;
	font-style:italic;
	color:#124c8a;
	line-height: 230%;
	text-align:left;
}

#rulesList {
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:auto;
}

#rulesList table {
	width:100%;
}

#rulesList table th {
	width:16.666666667%;
	line-height: 120%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#124c8a;
	font-size: 120%;
	border-bottom:#124c84 double 5px;
	text-align:left;
	
}

#rulesList table td {
	width:16.666666667%;
	padding:15px 0;
	background-image:none;
	background-repeat:no-repeat;
	background-position: right bottom;
	
}



#rulesList table td input {
	width: 95%;
	margin:0 2.5%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 100%;
	
}

#addNewRule {
	border-top:#124c84 double 5px;
}

#searchBoxDiv {
	position:relative;
	float:right;
	line-height: 230%;
	width:50%;
	margin-right:15px;
}

#searchBoxDiv p {
	display:inline-block;
	line-height: 230%;
	float: right;
	padding-right: 10px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#124c8a;
	font-weight:bold;
}

.searchBox {
	position:relative;
	display:inline-block;
	float:right;
	line-height: 30px;
	width: 200px;
	padding-left: 2px;
}




